# Imbalanced-Learn

Kurangi class setosa menjadi 15 data Implementasikan ADASYN untuk menyeimbangkan data Sedang 1% - 20%

Membandingkan hasil klasifikasi dataset yang tidak balanced (15 50 50) dengan balanced yang sudah dipreprocessing (50 50 50)

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sqlalchemy import create_engine
from sklearn.decomposition import PCA
from imblearn.over_sampling import ADASYN

In [ ]:
MYSQL_HOST = "localhost"
MYSQL_PORT = 3306
MYSQL_USER = "root"
MYSQL_PASSWORD = ""
MYSQL_DATABASE = "ecoli"

mysql_engine = create_engine(
    f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}"
)

mysql_query = "SELECT * FROM ecoli;"
df_mysql = pd.read_sql(mysql_query, mysql_engine)

df_mysql.head()